@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #0c0c5e;
    --secondary-color: #10879b;
    --accent1-color: #cccccc;
    --accent2-color: #ee6c4d;
    --heading-font: Bellez, sans-serif;
    --paragraph-font: "Open Sans", sans-serif;
    --nav-background-color: #cccccc;
    --nav-link-color: #000042;
    --nav-hover-link-color: #ee6c4d;
    --nav-hover-background-color: #000042;
}

body {
    max-width: 1200px;
}

header {
    display: grid;
    
}

h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
}

footer {
    color: var(--accent2-color);
}

footer a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    background-color: #cccccc50;
    width: 100%;
    top: 50px;
    text-align: center;
    padding: 20px 0 20px 0;
}

article {
    position: absolute;
    top:150px;
    padding: 20px;
    background-color: #10879b70;
    color: white;
    margin: 20px;
}

.hero article img {
    float: right;
    width: 144px;
}