body {
    font-size: 20px;
    background-color: pink;
}

main {
    width: 50%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
}

.quote {
    text-align: center;
    color: white;
}

.portrait {
    width: 50%;
    display: block;
    margin: 0 auto;
}

ol {
    font-size: 1.1em;
    font-weight: bold;
}

.large-quote {
    color:white;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    width: 60%;
    padding-top: 20px;
}

.name {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-top: 20px;
}