
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color:white;
    display:block;
    padding:20px;
}

h1 {
    color:steelblue;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
}

p {
    padding:10px;
}

aside {
    width:400px;
    margin: 10px;
    padding: 5px;
    color: white;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 50px;
}

p {
   padding: 0; 
}

footer {
    margin-top: 20px;
    border-top: solid black 5px;
    text-align: center;
}

/*class selectors*/

.box {
    margin: 1rem;
    border: solid 3px steelblue;
    padding: 1rem;
    background-color: slategray; 
}